/* Default styles */

@import '../fonts/roboto/roboto.css';
@import 'src/assets/sass/normalize';
@import 'src/assets/sass/vars';

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: $font;
    font-style: normal;
    color: #000;
    background: #fff;
    min-height: 100vh;
    text-align: center;
    
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
}

@import 'src/assets/sass/blocks/page';
@import 'src/assets/sass/blocks/header';
@import 'src/assets/sass/blocks/up_nav';
@import 'src/assets/sass/blocks/banner';
@import 'src/assets/sass/blocks/basket';
@import 'src/assets/sass/blocks/contacts';
@import 'src/assets/sass/blocks/down_nav';